/* SpeedTypingGame.css */

.container {
  max-width: 80%;
  margin-inline: auto;
  width: 80%;
  padding: 30px;
  border-radius: 10px;
  box-sizing: border-box;
  border: 1px solid #ced4da;
  backdrop-filter: grayscale(100%);

  box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
}

input.input-field {
  opacity: 0;
  z-index: -999;
  position: absolute;
}

#paragraph {
  word-break: break-all;
  text-align: left;
}
.section {
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 20px;
  padding-top: 0;
  display: flex;
  flex-direction: column;
}
.section1 {
  padding: 5vh 3%;
  border-bottom: 1px solid #ced4da;
}
span {
  font-size: 20px;
  user-select: none;
  cursor:text;
}
span.wrong {
  color: darkred;
  background-color: rgb(245, 66, 66);
}

span.correct {
  color: #0e630e;
  background: rgb(49, 49, 49);
}

span.active {
  border-bottom: 3px solid #0a6bf9;
}

.section2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  width: 100%;
}
.section2 .resultDetails {
  padding-inline-start: 0px;
  display: flex;
  align-items: center;
  margin: 0px;
  width: 100%;
  padding: 1rem 0 2rem 0;
  flex-wrap: wrap;
}

.section2 ul .li_div {
  /* margin-inline: auto; */
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
  text-align: center;
}

.section2 ul li {
  list-style-type: none;
  width: 40%;
}



.section2 ul li p {
  font-size: 1.2rem;
}

.section2 ul li span {
  font-size: 1.2rem;
}

button.btn {
  padding: 10px 20px;
  outline: none;
  border: 1px solid #ced4da;
  margin: 5px;
  border-radius: 4px;
  cursor: pointer;
  background: #1d9bf0;
  color: #fff;
  font-size: 16px;
  transition: all 0.5s;
}

button.btn:hover {
  background-color: #1879ba;
}

@media (max-width: 550px) {
  .section2 {
    flex-direction: column;
  }

  .section2 ul {
    width: 100%;
    justify-content: space-between;
  }

  button.btn {
    width: 100%;
    margin-top: 10px;
  }

  .container {
    max-width: 93%;
    margin-inline: auto;
    width: 93%;
    padding: 10px;
    border-radius: 10px;
  }
}

/* @media screen and (min-width: 550px) and (max-width: 790px){
  .container {
    max-width: 90%;
    margin-inline: 0;
    width: 90%;
    padding: 10px;
    border-radius: 10px;
  }
} */
